[class*='icon-star'] {
    color: #5b5da9;
    font-size: 10px;
}

.listing {
    display: inline-block;
    line-height: 24px;
}

.listing a {
    text-decoration: none;
}

.listing .carousel {
    margin-bottom: 8px;
}

.listing .carousel-slide img {
    border-radius: 4px;
}

.listing .carousel-labelContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.listing-categories {
    margin-bottom: 8px;
    color: #5b5da9;
    text-transform: uppercase;
    font-weight: bold;
}

.listing-location, .listing-type {
    margin-right: 8px;
    background-color: #5b5da9;
    padding: 4px 8px;
    color: #fff;
    text-transform: capitalize;
}

.listing-title, .listing-price {
    margin: 0;
}

.listing-title {
    margin-bottom: 4px;
    color: #393939
}

.listing-price {
    color: #7b7a7a;
}

.listing-details {
    color: #5b5da9;
}