* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.carousel {
    position: relative;
}

.carousel-shelf {
    height: 534px;
}

.carousel-slide {
    position: absolute;
}

.carousel-slide img {
    width: 100%;
    height: 534px;
    opacity: 0;
    transition: all 1.3s ease;
}

.carousel-slide input:checked + img {
    opacity: 1;
}

.carousel-slide input[type="radio"] {
    display: none;
}

.carousel label {
    width: 8px;
    height: 8px;
    background-color: #9E9E9E;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
}

.carousel label.currentSelection {
    background-color: #FFF;
    border: thin solid#9E9E9E;
}

.commentList {
    background-color: #8080800f;
    padding: 16px;
}

.userComment {
    list-style: none;
    border: thin solid #e2e2e2;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
    border-left: thick solid pink;
    background-color: #FFFFFF;
}

.userComment-username {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.userComment-date {
    color: #cccccc;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.calendar {
    display: inline-block;
    border: thin solid #e5e5e5;
    padding: 16px;
    border-radius: 4px;
}

@media (min-width: 573px) {
    .calendar {
        padding: 32px;
    }
}

.calendar-table {
    text-align: center;
    border-collapse: collapse;
}

.calendar-date, .calendar-day {
    width: 44px;
    height: 40px;
}

.calendar-date {
    border: thin solid #e5e5e5;
}

.calendar-date:hover {
    background-color: #eee;
    cursor: pointer;
}

.calendar-controlsContainer {
    position: relative;
    text-align: center;
    padding-bottom: 8px;
}

.calendar-controlsContainer i {
    font-size: 18px;
    padding: 2px 8px;
    border: thin solid #e5e5e5;
    color: #adabab;
    border-radius: 4px;
}

.calendar-controlsContainer:after {
    display: table;
    content: "";
    clear: both;
}

.calendar-control:hover {
    background-color: #eee;
}

.calendar-previousMonthControl {
    float: left;
}

.calendar-nextMonthControl {
    float: right;
}