.createRoom.page {
    display: flex; 
}

.createRoomWindow-controlsContainer {
    margin-right: 32px;
    display: none;
}

@media (min-width: 800px) {
    .createRoomWindow-controlsContainer {
        display: block;
    }
}

.createRoomWindow-tabList {
    padding: 0;
    list-style: none;
    font-weight: 600;
}

.createRoomWindow-tab {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.createRoomWindow-tab-isActive {
    color: #898eff;
}

.createRoomWindow-tab-isInactive {
    color: #a7abbe;
}

.createRoomWindow {
    background-color: #fff;
    max-width: 700px;
    margin-bottom: 16px;
    border: thin solid #eeeff5;
    border-radius: 3px;
}

.createRoomWindow-header {
    background-color: #666ee8;
    color: #fff;
    padding: 8px 16px;
}

.createRoomWindow-contentWrapper {
    padding: 16px 32px;
}

.createRoomWindow-input {
    width: 100%;
    margin-bottom: 16px;
}

.createRoomWindow-saveButton {
    background-color: #898eff;
    color: #fff;
    padding: 8px 32px;
    color: #fff;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.createRoomWindow label {
    margin-right: 12px;
    margin-bottom: 12px;
}

.listing-label {
    width: 100%;
    display: inline-block;
}

@media (min-width: 560px) {
    .listing-label {
        width: calc(25% - 16px);
    }
}

.createRoomWindow select {
    width: 100%;
    margin-right: 16px;
}

.createRoomWindow select, .createRoomWindow input {
    display: block;
    padding: 8px 8px;
}

.createRoomWindow textarea {
    min-height: 250px;
}

.createRoomWindow .amenities-label {
    width: 48%;
    display: inline-block;
}

.createRoomWindow .amenities-control {
    display: inline-block;
    width: auto;
}

.createRoomWindow-publishButton {
    background-color: #666ee8;
    padding: 8px 32px;
    color: #fff;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

button:disabled {
    opacity: 0.6;
    transition: all 0.4s ease;
}

.rommSlide-container {
    position: relative;
}

.roomSlide {
    opacity: 0;
}

@media (min-width: 800px) {
    .roomSlide {
        min-width: 550px;
    }
}

.roomSlide-isActive {
    opacity: 1;
    animation: fadeIn .4s ease 0s 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}