.commentList {
    background-color: #8080800f;
    padding: 16px;
}

.userComment {
    list-style: none;
    border: thin solid #e2e2e2;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 16px;
    border-left: thick solid pink;
    background-color: #FFFFFF;
}

.userComment-username {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.userComment-date {
    color: #cccccc;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
